.main{width: 790px; position: relative;overflow: hidden;margin-bottom: 10px;}
.m-top{width: 100%;height: 60px;line-height: 60px;border-bottom: 1px solid #eee;}
.m-name{border-top: 5px solid #2a95e5;display: inline-block;font-size: 16px;color:#333;}
.m-nav{float: right;font-size: 12px;*margin-top: -56px;}
.m-nav a:hover{color:#1184da;}

/* new */
.news{margin: 20px 0;}
.new{padding:20px 0;border-bottom: 1px dashed #eee;overflow: hidden;}
.new-pic{float: left;border:1px solid #ccc;background-color: #f5f5f5;}
.new-pic img{width: 228px;height: 168px;padding:10px;}
.new-txt{float: right;width: 465px;}
.new-txt h3{font-size: 14px;color: #333;font-weight: normal;}
.new-txt span{display:block;font-size: 12px;color: #999;margin-top: 10px;}
.new-txt p{margin: 20px 0;line-height: 24px;height: 70px;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;color: #999;}
.new-txt a{color: #999;}
.new-txt a:hover{color:#1184da;}
/* newdetail */
.newdetail .artic{padding:20px 0;}
.newdetail .artic h3{font-weight: normal;font-size: 24px;color:#1184da;text-align: center;padding:10px 0;}
.newdetail .artic h5{font-weight: normal;font-size: 12px;text-align: center;margin-bottom:30px;}
.newdetail .artic p{font-size: 12px;padding-right: 10px;line-height: 24px;}
.newdetail .artic img{width: 100%;margin: 30px 0;}
.newdetail .newpage{border-top:1px dashed #ccc;border-bottom:1px dashed #ccc;text-align: center;padding:10px 0;margin-top: 20px;}
.newdetail a:hover{color: #1184da;}

